<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<di>
<div class="pull-right">

  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_path,
            :class => 'btn btn-success btn-lg' %>
</div>
</div>

<p></p>
<% @users.each  do |user| %>
  <%= link_to user_path(user) do %>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x"></i>
          </span>
          <%= "#{user.name}" %>
        </h3>
      </div>
      <div class="panel-body panel-text">
        <p><%= "Role: #{user.role.name}" %></p>
        <p><%= "Job: #{user.job}" %></p>
        <p><small class="info"><%=l user.created_at, format: :long%></small></p>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
