<%= form_for(@greenhouse) do |f| %>
  <% if @greenhouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@greenhouse.errors.count, "error") %> prohibited this greenhouse from being saved:</h2>

      <ul>
      <% @greenhouse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business_name %><br>
    <%= f.text_field :business_name %>
  </div>
  <div class="field">
    <%= f.label :fiscal_address %><br>
    <%= f.text_area :fiscal_address %>
  </div>
  <div class="field">
    <%= f.label :greenhouse_address %><br>
    <%= f.text_area :greenhouse_address %>
  </div>
  <div class="field">
    <%= f.label :rfc %><br>
    <%= f.text_field :rfc %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
