<style type="text/css">
  .div-table, tbody {
    border-collapse: collapse;
  }
  table {
    margin-top: 5px;
    width: 100%;
    min-width: 100vw;
  }
  table, th, td, .div-table div {
    border: 1px solid <%= @greenhouse.color %>;
  }
  td {
    max-height: 12px;
  }
  .header {
    width:100px;
    background-color: <%= @greenhouse.color %>;
    border: 1px solid <%= @greenhouse.color %>;
    font-weight: bold;
    color: white;
  }
  .font { font-size: 10px; }
  .label {
        background-color: <%= @greenhouse.color %>;
  }
</style>
<div class="container-fluid" style="background-color:white;">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="pull-left" style="width: 375px">
          <%- if @greenhouse.logo.present? %>
          <%= wicked_pdf_image_tag(@greenhouse.logo.url(:thumb), :style => "max-height: 80px;", :class => "pull-left") %>
          <% end %>
          <p class="<%= 'pull-right' if @greenhouse.logo.present? %>" class="font">
            <strong><%= "#{@greenhouse.business_name}" %></strong><br>
            <%= "#{@greenhouse.fiscal_address}" %>
          </p>
        </div>
        <div class="pull-right" style="width: 355px;">
          <p class="text-center" class="font">
            <span class="label">Factura Comercial</span><br>
            <%=  "#{@manifest.custom_invoice_id}" %>
          </p>
          <p class="text-center" class="font">
            <span class="label">Fecha</span><br>
            <%= "#{DateTime.now.to_date}" %>
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <h4 class="text-center" style="font-size:11px;">
          Contribuyente de Régimen de Transparencia
        </h4>
        <div class="row">
          <table class="text-center">
            <tbody>
              <tr>
                <td class="header" style="width:100px;"></td>
                <td style="font-size:10px;width:300px;"><%= "#{@manifest_customer.business_name }"%></td>
                <td style="font-size:10px;width:200px;"><%= "#{@manifest_customer.tax_id_number}" %></td>
              </tr>
              <tr>
                <td class="header font" style="width:100px;">Vendido a</td>
                <td class="font" style="width:300px;"><strong><small>Nombre</small></strong></td>
                <td class="font" style="width:200px;"><strong><small>RFC / TAX ID</small></strong></td>
              </tr>
              <tr>
                <td class="header" style="width:100px;"></td>
                <td class="font" style="width:600px;"><%= "#{@manifest_customer.billing_address}"  %></td>
                <td></td>
              </tr>
              <tr>
                <td class="header" style="width:100px;"></td>
                <td class="font" style="width:600px;"><strong><small>Dirección</small></strong></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <table class="text-center">
            <tbody>
              <tr>
                <td class="header"></td>
                <td class="font" style="width:300px;"><%= "#{@warehouse.name}" %></td>
                <td class="font" style="width:200px;"><%= "#{@warehouse.tax_id}"  %></td>
              </tr>
              <tr>
                <td class="header font">Enviado a</td>
                <td class="font" style="width:300px;"><strong><small>Nombre</small></strong></td>
                <td class="font" style="width:200px;"><strong><small>RFC / TAX ID</small></strong></td>
              </tr>
              <tr>
                <td class="header"></td>
                <td class="font" style="width:600px;"><%= "#{@warehouse.address}"  %></td>
                <td></td>
              </tr>
              <tr>
                <td class="header"></td>
                <td class="font" style="width:600px;"><strong><small>Dirección</small></strong></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <table class="text-center">
            <tbody>
              <tr>
                <td class="header" style="width:75px;"></td>
                <td class="font" style="width:300px;"><%= "#{@mex_custom_broker.name}" %></td>
                <td class="font" style="width:200px;"><%= "#{@mex_custom_broker.address}" %></td>
              </tr>
              <tr>
                <td class="header font" style="width:75px;">Agencia</td>
                <td class="font" style="width:300px;"><strong><small>Agencia Aduanal Mexicana</small></strong></td>
                <td class="font" style="width:200px;"><strong><small>Dirección</small></strong></td>

              </tr>
              <tr>
                <td class="header font" style="width:75px;">Aduanal</td>
                <td class="font" style="width:300px;"><%= "#{@usa_custom_broker.name}" %></td>
                <td class="font" style="width:200px;"><%= "#{@usa_custom_broker.address}" %></td>
              </tr>
              <tr>
                <td class="header" style="width:75px;"></td>
                <td class="font" style="width:300px;"><strong><small>Agencia Aduanal Americana</small></strong></td>
                <td class="font" style="width:200px;"><strong><small>Dirección</small></strong></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <table class="text-center">
              <tbody>
                <tr>
                  <td class="header" style="width:75px;"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="header" style="width:75px;"></td>
                  <td class="font" colspan="3"><%= "#{@manifest.person_receiving}" %></td>
                  <td class="font" colspan="3"><%= "#{@manifest.carrier}" %></td>
                </tr>
                <tr>
                  <td class="header font">Datos</td>
                  <td class="font" colspan="3"><strong><small>Operador</small></strong></td>
                  <td class="font" colspan="3"><strong><small>Compañía</small></strong></td>
                </tr>
                <tr>
                  <td class="header font">Transportista</td>
                  <td class="font"><%= @manifest.truck %></td>
                  <td class="font"><%= @manifest.truck_licence_plate %></td>
                  <td class="font"><%= @manifest.trailer_num %></td>
                  <td class="font"><%= @manifest.trailer_num_lp %></td>
                  <td class="font"><%= @manifest.stamp %></td>
                  <td class="font"><%= @manifest.thermograph %></td>
                </tr>
                <tr>
                  <td class="header"></td>
                  <td class="font"><strong><small>Tractor #</small></strong></td>
                  <td class="font"><strong><small>Placas Tractor</small></strong></td>
                  <td class="font"><strong><small>Caja #</small></strong></td>
                  <td class="font"><strong><small>Placas caja</small></strong></td>
                  <td class="font"><strong><small>Seal (unseal#)</small></strong></td>
                  <td class="font"><strong><small>Thermomether</small></strong></td>
                </tr>
              </tbody>
          </table>
        </div>
      <div class="">
        <div style="width:800px">
          <p class="pull-left" style="width:375px;font-size:10px;">
            <span class="label">Orden de Compra</span>
            <%= "#{@manifest.po_number}" %>
          </p>
          <p class="pull-right" style="width:355px;font-size:10px;">
            <span class="label">Manifiesto</span>
            <%= "#{@manifest.ship_number}" %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Peso</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% @shipments.each do |shipment|%>
              <tr>
                <td class="font">
                  <%="#{shipment.formatted_boxes}" %>
                </td>
                <td class="font">
                  <%= "#{shipment.box_type.name}" %>
                </td>
                <td class="font">
                  <%=  "#{shipment.formatted_weight } lb" %>
                </td>
                <td class="font">
                  <%= "#{shipment.product.name + " " + shipment.bag_type.name + " " + shipment.package_type.name + " " + shipment.plu_to_string }" %> <%= "#{shipment.own_color(@greenhouse.id)}" %>
                </td>
                <td class="font">
                  <%= "#{number_to_currency(shipment.price)}" %>
                </td>
                <td class="font">
                  <strong><%= "#{number_to_currency(shipment.price * shipment.box_number)}" %></strong>
                </td>
              </tr>
              <% end %>

            </tbody>
          </table>
          <div class="row">
            <div class="col-md-6 pull-left" style="width:350px;">
              <small>
              <%= "#{@manifest.leyend}" %>
              </small><br>
              <small>
              CAAT:
              </small>
              <strong>
              <%= "#{@manifest.caat}" %>
              </strong><br>
              <small>
              Tipo de Caja:
              </small>
              <strong>
              <%= "Refrigerated Box " + "#{@manifest.trailer_size.to_s + "\""}" %>
              </strong><br>
              <small>
              Transfer/Código Alpha Transfer:
              </small>
              <strong>
              <%=  "#{@manifest.alpha}" %>
              </strong><br>
              <small>
              FDA
              </small>
              <strong>
              <%="#{@manifest.fda_num}" %>
              </strong>
              <small>
              No. Pallets
              </small>
              <strong>
              <%= "#{@manifest.total_pallets} - #{@total_pallets_words}" %>
              </strong>
            </div>
            <div class="col-md-6 pull-right">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th>
                      Subtotal
                    </th>
                    <th>
                      Total
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <%= "#{number_to_currency(@total_ammount_money)}" %>
                    </td>
                    <td>
                      <strong><%=  "#{number_to_currency(@total_ammount_money)}" %></strong><br>
                      <i><small><%= "(#{(@total_ammount_money).round(2).to_f.to_words.upcase} 00/100 USD)" %><%#=  "#{to_words((@total_ammount_money).round(2).to_f) }"%></small></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-justify text-muted" style="font-size: 7px">
                Se señala el precio de venta exclusivamente para cubrir con los
                requisitos de traslado y trámites aduanales, ya que los productos
                que contiene este documento son vendidos en firme y posteriormente facturados.
                <br>
                Estos tomates son vendidos por un firmante del Acuerdo de Suspensión
                del 2013 con el Departamento de Comercio de los Estados Unidos a
                una entidad Canadiense y están sujetos a los requisitos del Acuerdo
                de Suspensión para documentar las ventas a Canadá. En el caso de que
                estos tomates se revendan a los Estados Unidos, deben ser vendidos
                en conformidad con los terminos del Acuerdo de Suspensión a una
                entidad que tenga Licencia PACA y aprecios iguales o superiores al
                Precio de Referencia, tal como se establece en el Anexo "E".
                <br>
                These tomatoes are sold by a signatory of the 2013 Tomato Suspension
                Agreement with the U.S. Department of Commerce to a Canadian
                entity and are subject to Suspension Agreement's requirements for
                documenting sales to Canada. In the event that these tomatoes are
                resold into the United States , they must be sold in accordance with
                the terms of Suspension Agreeement to an entity with a PACA License
                and at prices that are at or above the Reference Price as established in Appendix "E".
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pull-left" style="width: 350px">
              <p>
                <span class="label">Entregó</span>
                <%= "#{@manifest.delivery_person}" %>
              </p>
            </div>
            <div class="col-md-6 pull-right" style="width: 350px">
              <p>
                <span class="label">Recibió</span>
                <%= "#{@manifest.person_receiving}" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
