<%- model_class = Greenhouse -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <div class="pull-right">
    <%= link_to t('.new', :default => t("helpers.links.new")),
            new_greenhouse_path,
            :class => 'btn btn-success btn-lg' %>
  </div>
</div>
<% @greenhouses.each do |greenhouse| %>
  <%= link_to greenhouse_path(greenhouse) do %>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="panel panel-default">
          <div class="panel-heading fix-greenhouse">
            <%= image_tag greenhouse.logo.url(:thumb), :class => "img-circle" %>
          </div>
          <div class="panel-body panel-text">
            <h3>
              <%= "#{greenhouse.business_name}" %>
            </h3>
            <p><%= "RFC: #{greenhouse.rfc}" %></p>
            <p><%= "FDA: #{greenhouse.fda_num}" %></p>
            <p><%= "Address: #{greenhouse.greenhouse_address}" %></p>
            <div class="more">
              <p>
                <%= "Category: #{greenhouse.category}" %>
              </p>
              <p>
                <%= "Fiscal Address: #{greenhouse.fiscal_address}" %>
              </p>
            </div>
            <div class="col-md-1" style="background-color: <%= greenhouse.color %>;height: 30px;border-radius: 2px;">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
