<div class="container-fluid padding-up" style="background-color: white;">
  <div class="row">
    <section style="padding-left:22px;font-size: 9px" class="pull-left">
      <%= "#{DateTime.now.strftime('%d-%m-%Y')}" %>
    </section>
    <section style="padding-left:22px;font-size: 9px" class="pull-right">
      No.<%= "#{@bill.invoice_number}" %>
    </section>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h1>
        <%- if @greenhouse.logo.present? %>
          <%= wicked_pdf_image_tag(@greenhouse.logo.url(:thumb), :style => "max-height: 80px;") %>
        <% end %>
        <%= "#{@greenhouse.business_name}" %>
        <small>Invoice</small>
      </h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-md-6 pull-left" style="width: 300px;">
        <p class="text-justify">
          <strong>Bill to:</strong><br>
            <%= "#{@customer.business_name}" %>
        </p>
      </div>
      <div class="col-md-6 pull-right" style="width: 300px;">
        <p class="text-justify">
          <strong>Ship to:</strong><br>
          <%= "#{@customer.shipping_address}" %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
      <%- if @sale.comment.present? %>
        <div class="col-md-6 pull-left" style="width: 300px;">
          <p class="text-justify">
            <strong>Comment</strong><br>
            <%= "#{@sale.comment} este campo será reemplazado por el de Annotations." %>
          </p>
        </div>
      <% end %>
      <%- if @sale.annotation.present? %>
         <div class="col-md-6 pull-right" style="width: 300px;">
          <p class="text-justify">
            <strong>Annotations</strong><br>
            <%= "#{@sale.annotation}" %>
          </p>
        </div>
      <% end %>
    </div>
  <div class="row" style="background-color: rgb(132, 189, 196);margin-left: -15px;margin-right: -15px; padding-left: 15px;padding-right: 15px; color: white; margin-top: 2%;">
    <div class="padding-up">
      <table class="table table-condensed" style="border-color: #333;">
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Weight</th>
            <th>Qty Pallets</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Total Amount</th>
          </tr>
        </thead>
        <tbody>

            <% @shipments.each do |shipment|%>
              <tr>
                <td>
                  <%= "#{shipment.box_number}" %>
                </td>
                <td>
                  <%= "#{box_type_name(shipment.box_type_id)}" %>
                </td>
                <td>
                  <%=  "#{shipment.weight}" %>
                </td>
                <td>
                  <%= "#{shipment.pallets_number}" %>
                </td>
                <td>
                  <%= "#{shipment.product.name}  #{shipment.bag_type.name}   #{shipment.plu_to_string}  #{shipment.package_type.name}  #{shipment.pallet_type.name}  #{shipment.box_type.name}" %>
                </td>
                <td>
                  <%= "#{shipment.price}" %>
                </td>
                <td>
                  <strong><%= "#{total_mount(shipment.price, shipment.box_number)}" %></strong>
                </td>
              </tr>
                <% end %>

        </tbody>
      </table>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 pull-left">
            <h4>
              Subtotal
              <small style="color:white; padding-left: 5px;"><%= "#{number_to_currency(@bill.total_amt)}" %></small>
            </h4>
          </div>
          <div class="col-md-6 pull-right">
            <h3>
              Total
              <strong style="padding-left: 5px;"><%=  "#{number_to_currency(@bill.total_amt)}" %></strong><br>
              <i><small style="color:white"><%=  "#{@total_ammount_money_words}" %></small></i>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 padding-up">
      <h2 class="text-center">
        THANK YOU
      </h2>
    </div>
    <div class="row">
        <div class="col-md-6 pull-left" style="width: 400px">
          <p>
             <strong>Vanguard Co. | Marketing & Business Development</strong><br>
             Dirección de la Empresa<br>
             <abbr title="Phone">P:</abbr> 011 52 818 365-3950
          </p>
        </div>
        <div class="col-md-6 pull-right" style="width: 400px;">
          <p class="text-right">
            <strong>Terms & Conditions</strong>
          </p>
          <p>
            Se señala el precio de venta exclusivamente para cubrir con los
                      requisitos de traslado y trámites aduanales, ya que los productos
                      que contiene este documento son vendidos en firme y posteriormente facturados.
          </p>
        </div>
    <div class="row">
          <div style="min-width: 800px;padding-right: 30px;margin-top: 15px; padding-left: 30px;">
                <p class="text-justify">
                      <hr>
                      Estos tomates son vendidos por un firmante del Acuerdo de Suspensión
                      del 2013 con el Departamento de Comercio de los Estados Unidos a
                      una entidad Canadiense y están sujetos a los requisitos del Acuerdo
                      de Suspensión para documentar las ventas a Canadá. En el caso de que
                      estos tomates se revendan a los Estados Unidos, deben ser vendidos
                      en conformidad con los terminos del Acuerdo de Suspensión a una
                      entidad que tenga Licencia PACA y aprecios iguales o superiores al
                      Precio de Referencia, tal como se establece en el Anexo "E".
                      <hr>
                      These tomatoes are sold by a signatory of the 2013 Tomato Suspension
                      Agreement with the U.S. Department of Commerce to a Canadian
                      entity and are subject to Suspension Agreement's requirements for
                      documenting sales to Canada. In the event that these tomatoes are
                      resold into the United States , they must be sold in accordance with
                      the terms of Suspension Agreeement to an entity with a PACA License
                      and at prices that are at or above the Reference Price as established in Appendix "E".
                </p>
            </div>
      </div>
    </div>
  </div>
</div>
