<%= link_to "Back", greenhouse_sale_path(@greenhouse.id, @sale.id), :class => "btn btn-primary"  %> <%= link_to 'Edit', edit_greenhouse_sale_collections_bill_path(@greenhouse.id, @sale.id, @collections_bill.id), class: "btn btn-warning" %> <%= link_to 'Printable Receipt (PDF)', billing_invoice_path(@greenhouse.id, @customer.id, @sale.id, @collections_bill.id,  format: 'pdf'),
                class: "btn btn-success", :id => "btn-print" %>

<%= form_for @manifest, :url => greenhouse_sale_manifests_path(@greenhouse.id, @sale.id), :html => { :class => 'form-horizontal' } do |f| %>

<div class="container" style="background-color:white;">
  <div class="center-block">
    <div class="col-md-12">
      <div class="row">
        <div class="pull-left" style="width: 375px">
          <%- if @greenhouse.logo.present? %>
          <%= image_tag(@greenhouse.logo.url(:thumb), :style => "max-height: 80px;", :class => "pull-left") %>
          <% end %>
          <p class="<%= 'pull-right' if @greenhouse.logo.present? %>" style="font-size:12px;">
            <strong><%= "#{@greenhouse.business_name}" %></strong><br>
            <%= simple_format( "#{@greenhouse.fiscal_address}", style: "font-size:12px;" ) %>
          </p>
        </div>
        <div class="pull-right col-md-2" style="width: 355px;border: 1px solid;">
          <p class="text-center" style="font-size:12px;">
            Revised on:
                <%= text_field_tag :revised_on, @collections_bill.bol_date.getlocal.strftime("%m/%d/%Y"), class: "form-control js-datepicker" %>
          </p>
          <p class="text-center" style="font-size:12px;">
            Proforma Invoice:
                <%= number_field_tag :proforma_invoice, @manifest.custom_invoice_id, class: "form-control" %>
          </p>
          <p class="text-center" style="font-size:12px;">
            Fecha:
            <%= "#{@collections_bill.created_at.getlocal.strftime("%m/%d/%Y")}" %>
          </p>
        </div>
      </div>
        <div class="row">
          <table class="col-md-12" style="">
            <tbody>
              <tr>
                <td style="font-size:12px;width:500px;border-bottom: 1px solid;;"><b>Bill to:</b></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:500px;border-bottom: 1px solid;"><b>Ship to:</b></td>
              </tr>

              <tr>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;"><%= "#{@greenhouse.business_name}"%></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;"><%= "#{@greenhouse.business_name}"%></td>
              </tr>



              <tr>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;"><%= "#{@manifest.warehouse.name}"%></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;"><%= "#{@manifest.warehouse.address}" %></td>
              </tr>
              <tr>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;"></br></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;"></br></td>
              </tr>

              <tr>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;"></br></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;"></br></td>
              </tr>
              <tr>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;border-bottom: 1px solid;"</br></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;border-bottom: 1px solid;"></br></td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="row">
          L#<%=
          "#{@collections_bill.ship_number}"
          %>
        </div>
        <div class="row">
          <table class="col-md-12" style="">
            <tbody>
              <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;border-top: 1px solid;">Purshase order: <%= "#{@collections_bill.po_number}" %>    </td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;border-top: 1px solid">Payment terms: <%= "#{@collections_bill.payment_terms}" %></td>
              </tr>
              <tr>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;border-bottom: 1px solid;"</br></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:100px;"></td>
                <td style="font-size:12px;width:670px;border-left: 1px solid;border-right: 1px solid;border-bottom: 1px solid;"></br></td>
              </tr>

            </tbody>
          </table>
        </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="text-align: center;">Quantity</th>
                <th style="text-align: center;">Unit</th>
                <th style="text-align: center;">Description</th>
                <th style="text-align: center;">Unit Price</th>
                <th style="text-align: center;">Ext. Price</th>

              </tr>
            </thead>
            <tbody>
              <% @shipments.each do |shipment|%>
              <tr>
                <td style="font-size:12px;">
                  <%="#{shipment.formatted_boxes}" %>
                </td>
                <td style="font-size:12px;">
                  <%= "#{shipment.box_type.name}" %>
                </td>
                <td style="font-size:12px;">
                  <%=  "#{shipment.formatted_weight} lb" %>
                  &nbsp;
                  <% if @collections_bill.show_color  %>
                    <%= "#{shipment.own_color(@greenhouse.id)} " %>
                  <% end %>
                  <%= "#{shipment.product.name} " %>

                  <% if @collections_bill.show_bag_type  %>
                    <%= "#{shipment.bag_type.name} " %>
                  <% end %>

                  <% if @collections_bill.show_pkg_type  %>
                    <%= "#{shipment.package_type.name} " %>
                  <% end %>

                  <% if @collections_bill.show_plu  %>
                    <%= "#{shipment.plu_to_string} " %>
                  <% end %>

                  <% if @collections_bill.show_count_type  %>
                    <%= "#{shipment.count_type.name} " %>
                  <% end %>

                </td>
                <td style="font-size:12px;">
                  <%= "#{number_to_currency(shipment.price)}" %>
                </td>
                <td style="font-size:12px;">
                 <%= "#{number_to_currency(shipment.price * shipment.box_number)}" %>
                </td>
              </tr>
              <% end %>

            <div class="row">
            <table >
               <tbody>
               <% 12.times do |index|  %>

                <tr>
                  <td style="font-size:10px;">
                    <span>&nbsp;</span>
                  </td>
                  <td style="font-size:10px;">
                    <span>&nbsp;</span>
                  </td>
                  <td style="font-size:10px;">



                  <% if index == 1 %>

                      <%= "#{@collections_bill.label_one}" %>

                    <% elsif index == 3 %>
                      Bill of lading:  <%= "#{@collections_bill.bill_of_lading}" %></br>
                    <% elsif index == 5 %>
                      Date: <%= "#{@collections_bill.created_at.getlocal.strftime("%m/%d/%Y")}" %></br>
                      <% elsif index == 7 %>
                      Temp recorder #: <%= "#{@collections_bill.thermograph}" %>

                    <% elsif index == 9 %>
                      <%= "#{@collections_bill.footer_one}" %>
                    <% elsif index == 10 %>
                      <%= "#{@collections_bill.footer_two}" %>

                    <% end %>




                    <span>&nbsp;</span>
                  </td>
                  <td style="font-size:10px;">
                    <% if index == 11%>
                      <%= "TOTAL" %>
                    <% end %>
                  </td>
                  <td style="font-size:10px;">
                    <% if index == 11%>
                      <%= "#{number_to_currency(@collections_bill.total_amt)}" %> USD
                    <% end %>
                  </td>
                </tr>
                </tbody>
              <% end %>
            </table>
          </div>

        </div>
      </div>

  </div>
</div>

<% end %>
<script type="text/javascript">

//Datepicker
$('.js-datepicker').datepicker();

                  $("#btn-print").on("click", function(event){
                     if ($(this).is("[disabled]")) {
                        event.preventDefault();
                     }
                  });


    $('#customs_invoice_consecutive_id').on('input', function(){

          if($('#customs_invoice_consecutive_id').val() != ""){

            var params = {
              custom_invoice_id: $('#customs_invoice_consecutive_id').val(),
              manifest_id: '<%= "#{@manifest.id}" %>',
              greenhouse_id: '<%= "#{@greenhouse.id}" %>'
            };

            $.ajax({
            url: '<%= greenhouses_manifests_is_unique_path %>',
            type: 'POST',
            data: $.param(params),
            dataType: 'json',
            success: function (dataRes) {
              //dataRes = $.parseJSON(json_result);
              //alert("regresé " + dataRes["is_unique"] + " " + dataRes);

              if(dataRes["is_unique"] == false){
                //Will enter here when the controller finds another manifest with similar id;

                    var custom_invoice_id = $('#customs_invoice_consecutive_id').val();

                    //$('#customs_invoice_consecutive_id').val(dataRes["next_custom_invoice_id"]);

                    $("#messages").html('<div id="error_message_div" class="">  '+
                      dataRes["error_message"]+' '+ custom_invoice_id + " Next on the list: <strong>" +dataRes['next_custom_invoice_id'] + '</strong><button class="close" data-dismiss="alert"> x</button></div>');


                  $("#error_message_div").addClass("alert alert-danger fade in");


                  $('#btn-print').removeClass('btn-success');
                  $('#btn-print').addClass('btn-warning');
                  $('#messages').show();



                  $("#btn-print").attr("disabled", "disabled");

                  setTimeout(function(){
                    $("#messages").fadeOut();
                                      }, 5000);

                  console.log("Not unique");
                }else {

                  //Will enter here when the system finds the custom_invoice_id to be unique among others in DB

                  $("#btn-print").removeAttr("disabled");

                  //when valid number, and saved, removes class from warning and add success color
                  $('#btn-print').removeClass('btn-warning');
                  $('#btn-print').addClass('btn-success');
                  //Adds a message and changes its color to the little label next to it
                  $("#updated_label").text(dataRes["message"]);
                  $("#updated_label").css("background-color", "#00ff00");
                  //After 2 seconds, the styles are returned back to normal.
                  setTimeout(function(){
                    $("#updated_label").text("Factura Comercial");
                    $("#updated_label").css("background-color", "<%= @greenhouse.color %>");
                                      }, 2000);
                }

              },
                 error: function (jqXHR, exception) {
                     /*var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }*/

                  $("#updated_label").text("Error.");
                  $("#updated_label").css("background-color", "yellow");
                  setTimeout(function(){
                    $("#updated_label").text("Factura Comercial");
                    $("#updated_label").css("background-color", "<%= @greenhouse.color %>");
                                      }, 2000);

                }
          });

          }

});




  $('#manifest_leyend').on("change", function(){

      var params = {
          leyend: $('#manifest_leyend').val(),
          manifest_id: '<%= "#{@manifest.id}" %>',
          greenhouse_id: '<%= "#{@greenhouse.id}" %>'
        };




      $.ajax({
            url: '<%= greenhouses_manifests_set_leyend_path %>',
            type: 'POST',
            data: $.param(params),
            dataType: 'json',
            success: function (dataRes) {
                  if(dataRes["error_message"] == ""){

                  }else {
                    console.log(dataRes["error_message"])
                  }
            }

        });
  });




</script>
