<div class="container" style="background-color:white;">
  <div class="center-block">
    <div class="col-md-12">
      <div class="row">
        <div class="pull-left" style="width: 375px">
          <%- if @greenhouse.logo.present? %>
          <%= image_tag(@greenhouse.logo.url(:thumb), :style => "max-height: 80px;", :class => "pull-left") %>
          <% end %>
          <p class="<%= 'pull-right' if @greenhouse.logo.present? %>" style="font-size:10px;">
            <strong><%= "#{@greenhouse.business_name}" %></strong><br>
            <%= simple_format( "#{@greenhouse.fiscal_address}", style: "font-size:10px;" ) %>
          </p>
        </div>
        <div class="pull-right col-md-1" style="width: 355px;">
          <p class="text-center" style="font-size:10px;">
            <span class="label">Revised on:</span>
                <%=  @collections_bill.bol_date.getlocal.strftime("%m/%d/%Y") %>
          </p>
          <p class="text-center" style="font-size:10px;">
            <p style="font-size:10px;" >Proforma Invoice</p>
                <%= @manifest.custom_invoice_id%>
          </p>
          <p class="text-center" style="font-size:10px;">
            <span class="label" style="">Fecha</span><br>
            <%= "#{@collections_bill.created_at.getlocal.strftime("%m/%d/%Y")}" %>
          </p>
        </div>
      </div>
        <div class="row">
          <table class="col-md-12" style="">
            <tbody>
              <tr>
                <td style="font-size:10px;width:500px;border-bottom: 1px solid;;"><b>Bill to:</b></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:500px;border-bottom: 1px solid;"><b>Ship to:</b></td>
              </tr>

              <tr>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;"><%= "#{@greenhouse.business_name}"%></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;"><%= "#{@greenhouse.business_name}"%></td>
              </tr>



              <tr>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;"><%= "#{@manifest.warehouse.name}"%></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;"><%= "#{@manifest.warehouse.address}" %></td>
              </tr>
              <tr>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;"></br></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;"></br></td>
              </tr>

              <tr>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;"></br></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;"></br></td>
              </tr>
              <tr>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;"></br></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;"></br></td>
              </tr>
              <tr>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;border-bottom: 1px solid;"</br></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;border-bottom: 1px solid;"></br></td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="row">
          L#<%=
          "#{@collections_bill.ship_number}"
          %>
        </div>
        <div class="row">
          <table class="col-md-12" style="">
            <tbody>
              <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;border-top: 1px solid;">Purshase order: <%= "#{@collections_bill.po_number}" %>    </td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;border-top: 1px solid">Payment terms: <%= "#{@collections_bill.payment_terms}" %></td>
              </tr>
              <tr>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;border-bottom: 1px solid;"</br></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:100px;"></td>
                <td style="font-size:10px;width:670px;border-left: 1px solid;border-right: 1px solid;border-bottom: 1px solid;"></br></td>
              </tr>

            </tbody>
          </table>
        </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th style="text-align: center;">Quantity</th>
                <th style="text-align: center;">Unit</th>
                <th style="text-align: center;">Description</th>
                <th style="text-align: center;">Unit Price</th>
                <th style="text-align: center;">Ext. Price</th>

              </tr>
            </thead>
            <tbody>
              <% @shipments.each do |shipment|%>
              <tr>
                <td style="font-size:10px;">
                  <%="#{shipment.formatted_boxes}" %>
                </td>
                <td style="font-size:10px;">
                  <%= "#{shipment.box_type.name}" %>
                </td>
                <td style="font-size:10px;">
                  <%=  "#{shipment.formatted_weight} lb" %>
                  &nbsp;
                  <% if @collections_bill.show_color  %>
                    <%= "#{shipment.own_color(@greenhouse.id)} " %>
                  <% end %>
                  <%= "#{shipment.product.name} " %>

                  <% if @collections_bill.show_bag_type  %>
                    <%= "#{shipment.bag_type.name} " %>
                  <% end %>

                  <% if @collections_bill.show_pkg_type  %>
                    <%= "#{shipment.package_type.name} " %>
                  <% end %>

                  <% if @collections_bill.show_plu  %>
                    <%= "#{shipment.plu_to_string} " %>
                  <% end %>

                  <% if @collections_bill.show_count_type  %>
                    <%= "#{shipment.count_type.name} " %>
                  <% end %>

                </td>
                <td style="font-size:10px;">
                  <%= "#{number_to_currency(shipment.price)}" %>
                </td>
                <td style="font-size:10px;">
                  <strong><%= "#{number_to_currency(shipment.price * shipment.box_number)}" %></strong>
                </td>
              </tr>
              <% end %>

              <% 17.times do |index|  %>

                <tr>
                  <td style="font-size:10px;">
                    <span>&nbsp;</span>
                  </td>
                  <td style="font-size:10px;">
                    <span>&nbsp;</span>
                  </td>
                  <td style="font-size:10px;">



                  <% if index == 5 %>

                      <%= "#{@collections_bill.label_one}" %>

                    <% elsif index == 9 %>
                      Bill of lading:  <%= "#{@collections_bill.bill_of_lading}" %></br>
                    <% elsif index == 10 %>
                      Date: <%= "#{@collections_bill.created_at.getlocal.strftime("%m/%d/%Y")}" %></br>
                      <% elsif index == 11 %>
                      Temp recorder #: <%= "#{@collections_bill.thermograph}" %>

                    <% elsif index == 13 %>
                      <%= "#{@collections_bill.footer_one}" %>
                    <% elsif index == 14 %>
                      <%= "#{@collections_bill.footer_two}" %>

                    <% end %>




                    <span>&nbsp;</span>
                  </td>
                  <td style="font-size:10px;">
                    <% if index == 16%>
                      <%= "TOTAL" %>
                    <% end %>
                  </td>
                  <td style="font-size:10px;">
                    <% if index == 16%>
                      <%= "#{@collections_bill.total_amt}" %> USD
                    <% end %>
                  </td>
                </tr>

              <% end %>


            </tbody>
          </table>

          <div class="row">
            <div class="col-md-12">
              <p class="text-justify text-muted" style="font-size: 7px">

              </p>
            </div>
          </div>

        </div>
      </div>

  </div>
</div>
