<div class="well">
  <%= link_to 'Printable Receipt (PDF)', p_order_path(@greenhouse.id, @sale.id, format: 'pdf'),
                class: "btn btn-primary", :id => 'btn_pdf_generate' %>
  <%= link_to "Back", greenhouse_sale_path(@greenhouse.id, @sale.id), class: "btn btn-warning" %>
</div>
<%= hidden_field_tag(:sale_id_hidden, "#{@sale.id}")%>
<div class="container-fluid" style="background-color:white;">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
							<h1>
                <%= image_tag @greenhouse.logo.url(:thumb), :style => "max-height:80px;" %>
                <%= "#{@greenhouse.business_name}"  %>
              </h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<form class="form-horizontal" role="form">
            <div class="col-md-12">
              <div class="form-group">
                <p class="col-md-6">
                  <strong>Shipment Number</strong>
                </p>
  							<p class="col-md-6">
                  <%= "#{@sale.ship_number}" %>
                </p>
  						</div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <p class="col-md-6">
                  <strong>Shipment Products</strong>
                </p>
  							<p class="col-md-6">
                  <%= "#{@string_products}" %>
                </p>
  						</div>
            </div>

					</form>
				</div>
				<div class="col-md-6">
					<form class="form-horizontal" role="form">
						<div class="col-md-12">
              <div class="form-group">
                <p class="col-md-6">
                  <strong>Arrival Date in <%= "#{@delivery_place.name}" %></strong>
                </p>
                <p class="col-md-6">
                  <%= "#{@sale.arrival_date}" %>
                </p>
  						</div>
              <div class="form-group">
                <p class="col-md-6">
                  <strong>Warehouse</strong>
                </p>
                <p class="col-md-6">
                  <%= "#{@warehouse.name}" %>
                </p>
              </div>
              <div class="form-group">
                <p class="col-md-6">
                  <strong>Departure Date</strong>
                </p>
                <p class="col-md-6">
                  <%= "#{@sale.departure_date}" %>
                </p>
              </div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped table-condensed">
						<thead>
							<tr>
								<th># - Customer</th>
                <th>Product</th>
								<th>Grade</th>
								<th>Pallets</th>
                <th>Pallet Type</th>
                <th>Box Count</th>
                <th>Color</th>
                <th>Weight - Box Type</th>
							</tr>
						</thead>
						<tbody>
              <% @shipments.each do |shipment|%>
  							<tr>
  								<td>
  									<%= "#{shipment.po_number != nil ? shipment.po_number : ""} - #{get_customer_name(shipment.customer.id)}" %>
  								</td>
                  <td>
                    <%= "#{shipment.product.name}" %>
                  </td>
  								<td>
  									<%= "#{shipment.quality}" %>
  								</td>
  								<td>
  									<%= "#{shipment.pallets_number}" %>
  								</td>
  								<td>
  									<%= "#{get_pallet_name(shipment.pallet_type_id)}" %>
  								</td>
                  <td>
                    <%= "#{shipment.formatted_boxes}cs" %>
                  </td>
                  <td>
                    <% if  shipment.own_color(@greenhouse.id) != "" %> <%= "#{shipment.own_color(@greenhouse.id)}"  %> <% end %>
                  </td>
                  <td>
                    <%= "#{shipment.formatted_weight} - #{get_box_name(shipment.box_type_id)}" %>
                  </td>
  							</tr>
              <% end %>
              <tr>
                <td>
                  <b>TOTAL</b>
                </td>
                <td>
                  ---
                </td>
                <td>
                  ---
                </td>
                <td>
                  <%= "#{formatted_number(@total_pallets)}" %>
                </td>
                <td>
                  ---
                </td>
                <td>
                  <%= "#{formatted_number(@total_boxes)}cs" %>
                </td>
                <td>
                  ---
                </td>
                <td>
                  ---
                </td>
              </tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
        <% @customers.each do |customer|%>
          <dl class="dl-horizontal">
            <dt>Customer</dt>
            <dd>
              <%= "#{customer.business_name}" %>
            </dd>
            <dt>PO#</dt>
            <dd>
              <%= "#{@shipments_by_cust[customer.id][0].po_number}" %>
            </dd>
            <dt>Package Specs</dt>
            <dd>

            <% @shipments_by_cust[customer.id].reverse.each do |shipment|%>
              <%= "#{shipment.formatted_boxes}cs - #{shipment.formatted_weight} lb - #{shipment.product.name} - #{shipment.own_color(@greenhouse.id)} - #{shipment.count_type.name} - #{shipment.plu_to_string} -> #{shipment.pallet_type.name}." %>
              <br>
            <% end %>
            </dd>
          </dl>
        <% end %>
			</div>
			<div class="row">
				<div class="col-md-12">
					 <!--<span class="label label-info">Observaciones</span>-->
           <div class="form-group">
              <%= label_tag :observations, nil, :class => 'label label-info col-md-2' %>
            </div>
            <div class="well">

              <%= text_area_tag :sale_annotation, "#{@sale.annotation}", {:class =>"form-control", :rows => 4, :name => "sale[annotation]"} %>
            </div>
           <div>
               <%= submit_tag "Save", id: "annotation_btn", class: "btn btn-primary col-md-2" %>
           </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row padding-up">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<p class="text-right text-muted fix-order">
						<%= "#{Date.today}" %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">


          var annotation_changed = false;

          $('#sale_annotation').on("input", function(){
            annotation_changed = true;
            if ("<%= @sale.annotation %>" != $('#sale_annotation').val()){
            $('#annotation_btn').removeClass('btn-primary');
            $('#annotation_btn').addClass('btn-warning');
          } else{

            $('#annotation_btn').addClass('btn-primary');
            $('#annotation_btn').removeClass('btn-warning');
          }

          });

            $('#btn_pdf_generate').on("click", function(){
              if(annotation_changed){
                if(confirm("Annotations has changed. Do you want to continue without save?")){

                }else {
                  //Works as stopper of the flow.
                  event.preventDefault();
                }
              }
            });


          $('#annotation_btn').on("click", function(){
            var annotation_txt = $("#sale_annotation").val();
            enviar_ajax( "<%= annotations_update_path %>", this.name, annotation_txt);
          });

          function responseFromServer(result){
            if(result["status"]){
              var action = result["action"];
              if (action == "annotations_update"){
                $('#annotation_btn').removeClass('btn-warning');
                $('#annotation_btn').addClass('btn-primary');
                annotation_changed = false;
              }
            }else {
              alert("Unexpected error occured during saving ");
            }
          }


          //=========================================================
          function enviar_ajax(url, accion_param, value) {

          var params = {
            accion: url,
            //Cuando la función es llamada desde el botón para guardar la cantidad,
            //el valor de checked es un número y la acción es save_qty
            value: value,
            sale_id: $('#sale_id_hidden').val()
          };

          $.ajax({
            url: params.accion,
            type: 'POST',
            data: $.param(params),
            dataType: 'json',
            success: function (dataRes) {
              responseFromServer(dataRes);
            }
          });


      }
      //=========================================================


</script>
