<%= form_for @sale, :html => { :class => 'form-horizontal' } do |f| %>
<div class="container-fluid" style="background-color:white;">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="page-header">
						<h1>
							Invernadero <%= @greenhouse.business_name  %></small>
						</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<form class="form-horizontal" role="form">
            <div class="col-md-12">
              <div class="form-group">
  							<label for="inputEmail3" class="control-label">
  								No. Embarque
  							</label>
  								<input type="email" class="form-control" id="inputEmail3" value="<%= @sale.id  %>" placeholder="1231">
  						</div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
  							<label for="inputPassword3" class="control-label">
  								Producto
  							</label>

  								<textarea class="form-control" id="inputPassword3">
                <% @shipments.each do |shipment|%>
                    <%= shipment.product.name %>
                <% end %>
                </textarea>
  						</div>
            </div>

					</form>
				</div>
				<div class="col-md-6">
					<form class="form-horizontal" role="form">
						<div class="col-md-12">
              <div class="form-group">
  							<label for="inputEmail3" class="control-label">
  								Lugar de entrega
  							</label>
  								<input type="email" class="form-control" id="inputEmail3" placeholder="Lugar">
                  <label for="inputEmail3" class="control-label">
                  Fecha de entrega
                </label>
                  <input type="email" class="form-control" id="inputEmail3" value="<%= @sale.arrival_date %>">
  						</div>
						</div>
						<div class="col-md-12">
              <div class="form-group">
  							<label for="inputPassword3" class="control-label">
  								Color
  							</label>
  								<textarea class="form-control" id="inputPassword3"></textarea>
  						</div>
						</div>

					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table class="table table-striped table-condensed">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Grado
								</th>
								<th>
									No. tarimas
								</th>
                <th>
                  Tipo de tarima
                </th>
                <th>
                  No. de cajas
                </th>
                <th>
                  Tipo de Caja
                </th>
							</tr>
						</thead>
						<tbody>
              <% @shipments.each do |shipment|%>
							<tr>
								<td>
									<%= shipment.po_number != nil ? shipment.po_number : "" %>  <%= Customer.find(shipment.customer).business_name %>
								</td>
								<td>
									<%= shipment.quality %>
								</td>
								<td>
									<%= shipment.pallets_number %>
								</td>
								<td>
									<%= PalletType.find(shipment.pallet_type_id).name %>
								</td>
                <td>
                  <%= shipment.box_number %>
                </td>
                <td>
                  <%= shipment.weight %> <%= BoxType.find(shipment.box_type_id).name %>
                </td>
							</tr>
                <% end %>

						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<dl class="dl-horizontal">
						<dt>
							PO#
						</dt>
						<dd>
							A description list is perfect for defining terms.
						</dd>
						<dt>
							Especificación
						</dt>
						<dt>
							de empaque
						</dt>
						<dd>
							Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
						</dd>
						<dd>
							Donec id elit non mi porta gravida at eget metus.
						</dd>
					</dl>
				</div>
				<div class="col-md-6">
					<dl class="dl-horizontal">
						<dt>
							PO#
						</dt>
						<dd>
							A description list is perfect for defining terms.
						</dd>
						<dt>
							Especificación
						</dt>
						<dt>
							de empaque
						</dt>
						<dd>
							Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
						</dd>
						<dd>
							Donec id elit non mi porta gravida at eget metus.
						</dd>
					</dl>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					 <span class="label label-info">Observaciones</span>
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">

					<address>
						<strong>Vanguard, Co.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br> <abbr title="Phone">P:</abbr> (123) 456-7890
					</address>
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<p class="text-right text-muted">
						20/10/15 18:35
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>


