<div class="container-fluid" style="background-color:white;">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1 style="font-size: 16px;">
            <%- if @greenhouse.logo.present? %>
            <%= wicked_pdf_image_tag(@greenhouse.logo.url(:thumb), :style => "max-height: 80px;") %>
            <% end %>
            <%= "#{@greenhouse.business_name}" %>
            </h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left" style="width: 480px;">
            <p class="pull-left" style="width: 130px;font-size:10px;">
              <strong>No. de Embarque</strong>
            </p>
            <p class="pull-right" style="width: 350px;font-size:10px;">
              <%= "#{@sale.ship_number}" %>
            </p>
          </div>

          <div class="pull-right" style="width: 480px;">
            <p class="pull-left" style="width: 130px;font-size:10px;">
              <strong>Fecha de Entrega en <%= "#{@delivery_place.name}" %></strong>
            </p>
            <p class="pull-right" style="width: 350px;font-size:10px;">
              <%= "#{@sale.arrival_date}" %>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left" style="width: 480px;">
            <p class="pull-left" style="width: 130px;font-size:10px;">
              <strong>Producto</strong>
            </p>
            <p class="pull-right" style="width: 350px;font-size:10px;">
              <%= @string_products.html_safe %>
            </p>
          </div>
           <div class="pull-right" style="width: 480px;">
            <p class="pull-left" style="width: 130px;font-size:10px;">
              <strong>Warehouse</strong>
            </p>
            <p class="pull-right" style="width: 350px;font-size:10px;">
              <%= "#{@warehouse.name}" %>
            </p>
          </div>
        </div>
        <!--<div class="pull-right" style="width: 300px; text-align: left;">
          <p class="col-md-6">
            <strong>Departure Date</strong>
          </p>
          <p class="col-md-6">
            <%= "#{@sale.departure_date}" %>
          </p>
        </div>-->
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-condensed">
            <thead>
              <tr>
                <th>PO#</th> <!-- Se comentó customer -->
                <th>Producto</th>
                <th>Grado</th>
                <th>Tarimas</th>
                <th>Tipo Tarima</th>
                <th>No. Cajas</th>
                <th>Color</th>
                <th>Tipo Caja</th>
              </tr>
            </thead>
            <tbody style="font-size:10px;">
              <% @shipments.each do |shipment|%>
              <tr>
                <td style="font-size:10px;">
                  <%= "#{shipment.po_number != nil ? shipment.po_number : ""} #{get_customer_name(shipment.customer.id)}" %>
                </td>
                <td style="font-size:10px;">
                  <%= "#{shipment.product.name}" %>
                </td>
                <td style="font-size:10px;">
                  <%= "#{shipment.quality}" %>
                </td>
                <td style="font-size:10px;">
                  <%= "#{shipment.pallets_number}" %>
                </td>
                <td style="font-size:10px;">
                  <%= "#{get_pallet_name(shipment.pallet_type_id)}" %>
                </td>
                <td style="font-size:10px;">
                  <%= "#{shipment.formatted_boxes}cs" %>
                </td>
                <td style="font-size:10px;">
                    <% if  shipment.own_color(@greenhouse.id) != "" %> <%= "#{shipment.own_color(@greenhouse.id)}"  %> <% end %>
                  </td>
                <td style="font-size:10px;">
                  <%= "#{shipment.formatted_weight} - #{get_box_name(shipment.box_type_id)}" %>
                </td>
              </tr>
              <% end %>
              <tr>
                <td style="font-size:10px;">
                  <b>TOTAL</b>
                </td>
                <td style="font-size:10px;">
                  ---
                </td>
                <td style="font-size:10px;">
                  ---
                </td>
                <td style="font-size:10px;">
                  <%= "#{formatted_number(@total_pallets)}" %>
                </td>
                <td style="font-size:10px;">
                  ---
                </td>
                <td style="font-size:10px;">
                  <%= "#{formatted_number(@total_boxes)}cs" %>
                </td>
                <td style="font-size:10px;">
                  ---
                </td>
                <td style="font-size:10px;">
                  ---
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="font-size:10px;">
          <% @customers.each do |customer|%>
          <div class="<%= cycle('pull-left','pull-right', name: 'columns') %>" style="max-width:480px;">
            <div class="pull-left">
              <div class="pull-left">
                <p class="pull-left" style="width: 80px">
                  <small style="font-size:8px;">Especificación de empaque</small>
                </p>
              </div>
              <div class="pull-right" style="width:400px">
                <p class="pull-right" style="width: 400px;font-size:9px;color:white;background-color: black;padding-left: 1px;">
                  PO#
                  <%= " #{@shipments_by_cust[customer.id][0].po_number} #{customer.business_name}" %>
                </p>
              </div>
              <p class="pull-right" style="width: 400px;font-size:9px;border-style: solid;border-width: 1px;margin-top:-11px; padding-left:1px;">
                <% @shipments_by_cust[customer.id].each_with_index do |shipment, index|%>
                <b>&#10148</b>
                  <%=  " #{shipment.formatted_boxes}cs - #{shipment.formatted_weight} lb - #{shipment.product.name} - #{shipment.own_color(@greenhouse.id)} - #{shipment.count_type.name} - #{shipment.plu_to_string} -> #{shipment.pallet_type.name}." %>
                  <br>
                <% end %>
              </p>
            </div>
          </div>
          <% end %>
          <% reset_cycle("columns") %>
        </div>
      </div>
      <%- if @sale.annotation.present? %>
      <div class="row" style="padding-top: 20px;">
        <div class="col-md-12">
          <span class="label label-info">Observaciones</span>
          <div class="well">
            <p style="font-size:10px;margin-top: -10px; margin-bottom: -10px;">
              <%= "#{@sale.annotation}" %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row padding-up">
    <div class="col-md-12">
      <div class="row">
        <div class="pull-right" style="width: 300px;margin-top: -53px;">
          <p class="text-right text-muted fix-order" style="font-size:10px;">
            Fecha: <%= " #{Date.today}" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
