<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<style type="text/css">
<!--
body {
	font: 100%/1.4 "Open Sans", Helvetica;
	width: 595px;
	height: 842px;
	margin: 0;
	padding: 0;
	color: #000;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing block. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the blocks, instead of the block elements themselves, gets rid of any box model math. A nested block with side padding can also be used as an alternate method. */
	font-family: "Open Sans", Helvetica;
}
/* ~~ This fixed width container surrounds all other blocks ~~ */
.container {
	width: 595px;
	height: 842px;
	background-color: #FFFFFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	min-width: 0cm;
}
/* ~~ The header is not given a width. It will extend the full width of your layout. ~~ */
header {
	background-color: #FFFFFF;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The footer ~~ */
footer {
	padding: 10px 0;
	background-color: #CCC49F;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}
.p-4 {
		font-weight:bold;
		text-align:right;
	}
th {
	width:95px;
	}
.obser {
	width:143px;
	margin-top:10px;
	background-color:#A5E6E7;
	border-color: #A5E6E7;
	border:thin;
	border-radius:5px;
	font-weight:bold;
	color:white;
	}
.commets {
	border: thin;
	border-radius: 5px;
	margin-bottom: 20px;
	font-style:italic;
	}
-->
</style><!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--></head>

<body>

<div class="container">
  <header><!--<img src="../indesign/purshase_order-web-resources/image/AgaveSoloNegro.png" width="71" height="63" alt="Logo" style="padding-top:10px;"/>-->
    <h1> <%= wicked_pdf_image_tag(@greenhouse.logo.url(:thumb), :class => "img-circle") %> Invernadero <%= "#{@greenhouse.business_name}"  %>
    </h1>

  </header>
  <hr style="color:#CFCFCF; line-height:1px; margin-left:10px; margin-right: 10px">
  	<table>
    	<tbody>
        <tr>
        	<td width="148px" class="p-4">
				Fecha de Entrega
            </td>
            <td width="148px" align="center">
            	<%= @sale.arrival_date  %>
            </td>
        </tr>
        <tr>
        	<td width="148px" class="p-4">
            	Producto en Embarque
            </td>
            <td width="148px" align="center">
            	<%= @string_products  %>
            </td>

        	<td width="148px" class="p-4">
				Color
            </td>
            <td width="148px" align="center">
            	<%= @sale.product_color  %>
            </td>
        </tr>
        </tbody>
    </table>

    <div style="padding-left:10px; padding-right:10px;">
    	<table style="margin-top:20px;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Grado</th>
                    <th>No. Tarimas</th>
                    <th>Tipo de Tarima</th>
                    <th>No. de Cajas</th>
                    <th>Tipo de Caja</th>
                </tr>
            </thead>
            <tbody style="text-align:center;">
                <% @shipments.each_with_index do |shipment, index|%>

                <% if index % 2 == 0 %>
                 <tr style="background-color:#A5E6E7">
                <% else %>
                 <tr>
                <% end %>
                        <td>
                        <%= shipment.po_number != nil ? shipment.po_number : "" %>
                        <%= Customer.find(shipment.customer.id).business_name %>
                        </td>
                        <td>
                        <%= shipment.quality %>
                        </td>
                        <td>
                        <%= shipment.pallets_number %>
                        </td>
                        <td>
                        <%= PalletType.find(shipment.pallet_type_id).name %>
                        </td>
                    <td>
                  <%= shipment.box_number %>
                </td>
                <td>
                  <%= shipment.weight %> <%= BoxType.find(shipment.box_type_id).name %>
                </td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <% @customers.each_with_index do |customer, index|%>

        <% if index % 2 == 0 %>
        <table style="margin-top:20px; width:287px; float:left">
        <% else %>
        <table style="margin-top:20px; width:287px">
        <% end %>
        <tbody>
        <tr>
            <td width="148px" class="p-4">
                Cliente
            </td>
            <td width="148px" align="center">
                <%= "#{customer.business_name}"%>
            </td>
        </tr>
        <tr>
            <td width="148px" class="p-4">
                PO#
            </td>
            <td width="148px" align="center">
                <%= "#{@shipments_by_cust[customer.id][0].po_number}" %>
            </td>
        </tr>
        <tr>
            <td width="148px" class="p-4">
                Especificación de Empaque
            </td>
            <td width="148px" align="center">
                              <% @shipments_by_cust[customer.id].each do |shipment|%>
                <%= "#{shipment.pallets_number} - #{shipment.weight} lb - #{shipment.product.name} - #{shipment.count_type.name} - #{shipment.plu_to_string} --> #{shipment.pallet_type.name}." %>
                <br/>
              <% end %>
            </td>
        </tr>
        </tbody>
      </table>
        <% end %>

	<p class="obser">
    	Observaciones
    </p>
    <p class="commets">
    	<%= "#{@sale.comment}"%>
    </p>
    <table>
    	<thead>
        	<tr width="148px" align="left">
            	<th>
                	Vanguard Co
                </th>
            </tr>
        </thead>
    </table>
	<p style="text-align:right;">02-12-2015</p>
    </div>
</div>
</body>
</html>
