<h1>Shipments</h1>

<div class="pull-right">
 <%= link_to "New Shipment", new_shipment_path, class: "btn btn-success btn-large" %>
</div>

<%= week_calendar table: {class: "table table-bordered table-hover"},
                      tr: {class: "calendar-row"}, td: {class: "day"},
                  events: @shipments,
                  number_of_weeks: 2 do |date, shipments| %>
  <%= date.day %>
  <% shipments.each do |shipment| %>
      <% if date == shipment.start_at %>
        <div class="panel">
          <%= link_to shipment_path(shipment) do %>
            <%= shipment.pallets_number %>
            <%= shipment.product.name %>
            <% if shipment.cancel? %>
              <label class="label label-danger">CANCELED</label>
            <% end %>
          <% end %>
        </div>
      <% end %>
  <% end %>
<% end %>
