<%- model_class = Greenhouse -%>
<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.titleize %>
    <%= "#{@greenhouse.business_name.capitalize}" %>
  </h1>
</div>

<%= render :partial => "submenu", :locals => {:id => @greenhouse.id } %>

<div class="col-md-12">
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="text-center">Products on sales</h3>
        <%= pie_chart @sold_products, height: "200px" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>
          Sales
          at week
          <%= "#{Time.now.strftime("%U")}" %>
        </h3>


        <!--= line_chart @greenhouse.week_sales, height: "100px" %-->
        <%= line_chart @week_sales, height: "200px" %>


      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-2">
    <%= link_to new_greenhouse_sale_path(@greenhouse.id), class: "btn btn-success" do %>
      <i class="fa fa-plus"></i>
      New Shipment
    <% end %>
  </div>
</div>

        <%= form_for_filterrific @filterrific do |f| %>

          <div>
              Shipment #
            <%= f.fields_for :with_ship_number, OpenStruct.new(@filterrific.with_ship_number) do |with_ship_number_fields| %>
                <%= with_ship_number_fields.hidden_field :greenhouse_id ,:value => @greenhouse.id %>
                <%= with_ship_number_fields.text_field :value,
              class: ' form-control filterrific-periodically-observed' %>
            <% end %>
            By customer
            <%= f.select(:with_customer_id, @filterrific.select_options[:with_customer_id], { :include_blank => '- Any -' }) %>
            After
            <%= f.text_field(:with_created_at_after, class: 'js-datepicker') %>
            Before
            <%= f.text_field(:with_created_at_before, class: 'js-datepicker') %>

            Sorted by
            <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
          </div>
          <% end %>
          <%= link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-default btn-sm' %>

        <div id="filterrific_results">
        <%= render(
          partial: 'greenhouses/sales',
          locals: { sales: @sales }
        ) %>
        </div>

<!--<div class="col-md-12">
  < %= render( :partial 'greenhouses/sales',
              locals: {sales: @sales} )%>
</div>-->
<script type="text/javascript">
$('.js-datepicker').datepicker();
</script>
