<div class="nested-fields">
  <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone_office %>
      <%= f.text_field :phone_office %>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <%= link_to_remove_association "remove contact", f %>
</div>

