<%= form_for @manifest, :url => greenhouse_sale_manifests_path(@greenhouse.id, @sale.id) do |f| %>
  <% if @manifest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manifest.errors.count, "error") %> prohibited this manifest from being saved:</h2>

      <ul>
      <% @manifest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :manifest_number %><br>
    <%= f.number_field :manifest_number %>
  </div>
  <div class="field">
    <%= f.label :purshase_order_number %><br>
    <%= f.number_field :purshase_order %>
  </div>
  <div class="field">
    <%= f.hidden_field :sale_id, :value => @manifest.sale_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :sold_to %><br>
    <%= f.text_field :sold_to %>
  </div>
  <div class="field">
    <%= hidden_field( :manifest, :sold_to_id )%>
  </div>
  <div class="field">
    <%= f.label :sent_to %><br>
    <%= f.text_area :sent_to %>
  </div>
  <div class="field">
    <%= f.label :mex_custom_broker %><br>
    <%= f.text_field :mex_custom_broker%>
  </div>
  <div class="field">
    <%= f.label :usa_custom_broker %><br>
    <%= f.text_field :usa_custom_broker%>
  </div>
  <div class="field">
    <%= f.label :carrier %><br>
    <%= f.text_field :carrier, maxlength: 200 %>
  </div>
  <div class="field">
    <%= f.label :driver %><br>
    <%= f.text_field :driver, maxlength: 80 %>
  </div>
  <div class="field">
    <%= f.label :truck %><br>
    <%= f.text_field :truck, maxlength: 15 %>
  </div>
  <div class="field">
    <%= f.label :truck_licence_plate %><br>
    <%= f.text_field :truck_licence_plate, maxlength: 15 %>
  </div>
  <div class="field">
    <%= f.label :trailer_num %><br>
    <%= f.text_field :trailer_num, maxlength: 15 %>
  </div>
  <div class="field">
    <%= f.label :trailer_num_lp %><br>
    <%= f.text_field :trailer_num_lp, maxlength: 15 %>
  </div>
  <div class="field">
    <%= f.label :stamp %><br>
    <%= f.text_field :stamp, maxlength: 40 %>
  </div>
  <div class="field">
    <%= f.label :thermograph %><br>
    <%= f.text_field :thermograph, maxlength: 15 %>
  </div>
  <div class="field">
    <%= f.label :shipment %><br>
    <%= f.number_field :shipment %>
  </div>
  <div class="field">
    <%= f.label :delivery_person %><br>
    <%= f.text_field :delivery_person, maxlength: 80 %>
  </div>
  <div class="field">
    <%= f.label :trailer_size %><br>
    <%= f.number_field :trailer_size %>
  </div>
  <div class="field">
    <%= f.label :caat %><br>
    <%= f.text_field :caat, maxlength: 6%>
  </div>
  <div class="field">
    <%= f.label :alpha %><br>
    <%= f.text_field :alpha, maxlength: 15 %>
  </div>
  <div class="field">
    <%= f.label :fda_num %><br>
    <%= f.text_field :fda_num, maxlength: 20 %>
  </div>
  <div class="field">
    <%= f.label :total_pallets %><br>
    <%= f.number_field :total_pallets %>
     <%= @total_pallets_words.to_s %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
