<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for @manifest, :url => greenhouse_sale_manifests_path(@greenhouse.id, @sale.id, @manifest) do |f| %>
    <%= f.hidden_field :sale_id, :value => @manifest.sale_id %>
    <%= hidden_field( :manifest, :sold_to_id )%>
    <% if @manifest.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@manifest.errors.count, "error") %> prohibited this manifest from being saved:</h2>

        <ul>
        <% @manifest.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :custom_invoice_number, class: "control-label" %>
      <%= f.number_field :custom_invoice_id, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :purshase_order_number, class: "control-label" %>
      <%= f.text_field :po_number, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :date, class: "control-label col-md-12 row" %>
      <%= f.date_select :date, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label "Manifest#", class: "col-md-2 control-label" %>
      <%= f.text_field :ship_number, class: "col-md-10 col-sm-12 form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :sold_to, class: "control-label" %>
      <%= f.text_field :sold_to, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
    <%= f.label :warehouse_id, class: "control-label" %>
    <%= f.collection_select :warehouse_id, @warehouses, :id, :name_address,
             {prompt: "Selecciona bodega"}, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :mex_custom_broker, class: "control-label" %>
      <%= f.collection_select :mex_custom_broker,  @mex_custom_broker_select, :id,:name, {prompt: "Select MEX Customs Broker"}, {:class => "form-control" , :required => true}%>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :usa_custom_broker, class: "control-label" %>
      <%= f.collection_select :usa_custom_broker,  @usa_custom_broker_select, :id,:name, {prompt: "Select USA Customs Broker"}, {:class => "form-control" , :required => true} %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :carrier, class: "control-label" %>
      <%= f.text_field :carrier, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :driver, class: "control-label" %>
      <%= f.text_field :driver, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :truck, class: "control-label" %>
      <%= f.text_field :truck, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :truck_licence_plate, class: "control-label" %>
      <%= f.text_field :truck_licence_plate, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :trailer_num, class: "control-label" %>
      <%= f.text_field :trailer_num, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :trailer_num_lp, class: "control-label" %>
      <%= f.text_field :trailer_num_lp, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :stamp, class: "control-label" %>
      <%= f.text_field :stamp, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :thermograph, class: "control-label" %>
      <%= f.text_field :thermograph, class: "form-control" , :required => true%>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :delivery_person, class: "control-label" %>
      <%= f.text_field :delivery_person, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :trailer_size, class: "control-label" %>
      <%= f.number_field :trailer_size, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :caat, class: "control-label" %>
      <%= f.text_field :caat, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :alpha, class: "control-label" %>
      <%= f.text_field :alpha, class: "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12 col-md-4">
      <%= f.label :fda_num, class: "control-label" %>
      <%= f.text_field :fda_num, class: "form-control", :required => true %>
    </div>
    <div class="row">
      <div class="form-group col-sm-12 col-md-4">
        <%= f.label :total_pallets, class: "control-label col-md-12" %>
        <div class="col-md-6">
          <%= f.number_field :total_pallets, class: "form-control", :required => true %>
        </div>
        <span class="col-md-6">
          <i><%= @total_pallets_words.to_s %></i>
        </span>
      </div>
    </div>
    <div class="form-group col-sm-12 col-md-12">
      <%= f.label :footer_leyend, class: "control-label" %>
      <%= f.text_area :leyend, class: "col-md-12 form-control", :rows => "2" %>
    </div>
    <div class="form-group col-sm-12 col-md-12">
      <%= f.label :comments, class: "control-label" %>
      <%= f.text_area :comments, class: "col-md-12 form-control", :rows => "5" %>
    </div>
    <div class="pull-right">
      <%= f.submit nil, class: "btn btn-lg btn-success", :id => "btn_save" %>
    </div>
  <% end %>

  </div>
</div>
<script type="text/javascript">



$('#sale_ship_number').on('change', function(){

          if($('#sale_ship_number').val() != ""){

            var params = {
              ship_number: $('#sale_ship_number').val()
            };

            $.ajax({
            url: '<%= greenhouses_manifests_is_unique_path %>',
            type: 'GET',
            data: $.param(params),
            dataType: 'json',
            success: function (dataRes) {

              if(dataRes["is_unique"] == false){

                    var ship_number = $('#sale_ship_number').val();
                    $('#sale_ship_number').val(dataRes["next_ship_number"]);
                    $("#messages").html('<div class="alert alert-error fade in">  '+
                      dataRes["error_message"]+" "+ ship_number+'<button class="close" data-dismiss="alert"> x</button></div>');
                }


              }
          });

          }

});

                  $("#btn_save").on("click", function(event){
                     if ($(this).is("[disabled]")) {
                        event.preventDefault();
                     }
                  });



                  $('#manifest_custom_invoice_id').on("input", function(){

                  });


$('#manifest_custom_invoice_id').on('change', function(){

          if($('#manifest_custom_invoice_id').val() != ""){

            var params = {
              custom_invoice_id: $('#manifest_custom_invoice_id').val(),
              manifest_id: '<%= "#{@manifest.id}" %>',
              greenhouse_id: '<%= "#{@greenhouse.id}" %>'
            };

            $.ajax({
            url: '<%= greenhouses_manifests_is_unique_path %>',
            type: 'POST',
            data: $.param(params),
            dataType: 'json',
            success: function (dataRes) {
              //dataRes = $.parseJSON(json_result);
              //alert("regresé " + dataRes["is_unique"] + " " + dataRes);

              if(dataRes["is_unique"] == false){
                //Will enter here when the controller finds another manifest with similar id;

                    var custom_invoice_id = $('#manifest_custom_invoice_id').val();
                    //$('#manifest_custom_invoice_id').val(dataRes["next_custom_invoice_id"]);
                    $("#messages").html('<div id="error_message_div" class="">  '+
                      dataRes["error_message"]+' '+ custom_invoice_id + " Next on the list: <b>" +dataRes['next_custom_invoice_id'] + '</b><button class="close" data-dismiss="alert"> x</button></div>');
                      //Esto va entre el último cierre de div, y la b del html anterior

                  $("#error_message_div").addClass("alert alert-danger fade in");



                  $('#manifest_custom_invoice_id').addClass("alert-danger");
                  $('#btn_save').removeClass('btn-success');
                  $('#btn_save').addClass('btn-warning');
                  $('#messages').show();



                  $("#btn_save").attr("disabled", "disabled");

                  setTimeout(function(){
                    $("#messages").fadeOut();
                                      }, 5000);


                }else {
                  //Will enter here when the system finds the custom_invoice_id to be unique among others in DB




                  $("#btn_save").removeAttr("disabled");

                  $('#manifest_custom_invoice_id').removeClass("alert-danger");
                  //when valid number, and saved, removes class from warning and add success color
                  $('#btn_save').removeClass('btn-warning');
                  $('#btn_save').addClass('btn-success');
                  $("#manifest_custom_invoice_id").addClass('updated');
                  //Adds a message and changes its color to the little label next to it
                  //After 2 seconds, the styles are returned back to normal.
                  setTimeout(function(){
                    $("#manifest_custom_invoice_id").removeClass('updated');
                                      }, 300);
                }

              },
                 error: function (jqXHR, exception) {
                     /*var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }*/

                  setTimeout(function(){
                                      }, 2000);

                }
          });//End of AJAX call

          }//end of if

});//End of function change




</script>
