<div class="page-header">
  <h1>
    Colors -
    <%= "#{@greenhouse.business_name.capitalize}" %>
  </h1>
</div>

<%= render :partial => "greenhouses/submenu", :locals => {:id => @greenhouse.id } %>

<div class="well">
  <%= link_to 'Back', greenhouse_path(@greenhouse.id), class: "btn btn-default" %>
  <%= link_to 'New Color', new_greenhouse_color_path, class: "pull-right btn btn-success" %>
</div>

<div class="panel panel-default">
    <div class="panel-body">
    <table class="table table-condensed table-hover"  data-toggle="table" data-pagination="true" data-search="true">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @colors.each do |color| %>
            <tr>
                <td>
                  <%= link_to greenhouse_color_path(@greenhouse.id, color.id) do %>
                    <%= color.name %>
                  <% end %>
                </td>
                <td>
                  <%= link_to greenhouse_color_path(@greenhouse.id, color.id),
                        method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"  do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
