 

<h1>Listing Bag Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bag_types.each do |bag_type| %>
      <tr>
        <td><%= bag_type.name %></td>
        <td><%= link_to 'Show', bag_type %></td>
        <td><%= link_to 'Edit', edit_bag_type_path(bag_type) %></td>
        <td><%= link_to 'Destroy', bag_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bag type', new_bag_type_path %>
