<%- model_class = Product -%>
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <div class="col-md-9 col-sm-12">
        <h1>
          <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
          - <%= @greenhouse.business_name %>
        </h1>
      </div>

      <div class="col-md-3 col-sm-12">
        <div class="pull-right">
          <%= link_to t('.new', :default => t("helpers.links.new")),
                      new_greenhouse_product_path,
                      :class => 'btn btn-lg btn-success' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <%= render :partial => "greenhouses/submenu", :locals => {:id => @greenhouse.id } %>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:active) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
              <tr data-link="<%= greenhouse_product_path(@greenhouse.id, product.id) %>">
                <td><%= product.id %></td>
                <td><%= product.name %></td>
                <td><%= product.active %></td>
                <td>
                  <%= link_to edit_greenhouse_product_path(@greenhouse.id, product.id ), :class => 'btn btn-primary btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
                    <i class="fa fa-pencil fw"></i>
                    Edit
                  <% end %>
                  <%= link_to greenhouse_product_path(@greenhouse.id, product.id), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
                    <i class="fa fa-trash-o fw"></i>
                    Delete
                  <% end %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
