<%= form_for @warehouse, url: greenhouse_warehouses_path(@greenhouse.id, @warehouse), :html => { :class => 'form-horizontal' } do |f| %>
  <% if @warehouse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>

      <ul>
      <% @warehouse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :greenhouse_id %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :tax_id %><br>
    <%= f.text_field :tax_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
