<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @warehouse.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @warehouse.address %>
</p>

<p>
  <strong>Tas:</strong>
  <%= @warehouse.tax_id %>
</p>

<p>
  <strong>Greenhouses:</strong>
  <%= @warehouse.greenhouse.business_name %>
</p>


<%= link_to 'Edit', edit_greenhouse_warehouse_path(@greenhouse.id,@warehouse.id) %> |
<%= link_to 'Back', greenhouse_warehouses_path(@greenhouse.id) %>
