<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>Box Qty</th>
      <th>Case</th>
      <th>Weight</th>
      <th>Product Name</th>
      <th>Customer</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= "#{shipment.formatted_boxes}" %></td>
        <td><%= "#{BoxType.find(shipment.box_type_id).name}" %></td>
        <td><%= "#{formatted_weight(shipment.weight)} lb" %></td>
        <td><%= "#{shipment.product != nil ? shipment.product.name : 'Deleted Product' }" %></td>
        <td><%= "#{shipment.customer.business_name}" %></td>
        <td><%= "#{number_to_currency(shipment.price, unit: 'USD $' )}" %></td>
        <td><%= "#{number_to_currency(shipment.price * shipment.box_number, unit: 'USD $')}" %></td>
      </tr>
    <% end %>
    <tr>
      <td>
        <b><%= "#{formatted_number(@total_boxes)}" %></b>
      </td>
      <td>
        ---
      </td>
      <td>
                  ---
      </td>
      <td>
                  ---
      </td>
      <td>
                  ---
      </td>
      <td>
                  ---
      </td>
      <td>
        <b><%= "#{number_to_currency(@total_ammount_money, unit: 'USD $')}" %></b>
      </td>
    </tr>
  </tbody>
</table>




