
<table class="table table-hover">
  <thead>
    <tr>
      <th>Use</th>
      <th>ID</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Start At</th>
      <th>Created At</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= check_box_tag "shipment_ids[]", shipment.id %></td>
        <td><%= shipment.id %></td>
        <td><%= shipment.product.name %></td>
        <td>$<%= shipment.price %></td>
        <td><%=l shipment.start_at, format: :long  %></td>
        <td><%=l shipment.created_at, format: :long %></td>
        <td>
          <%= link_to shipment_path(shipment), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <i class="fa fa-info fw"></i>
          <%- end -%>
          <%= link_to edit_shipment_path(shipment), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
            <i class="fa fa-pencil fw"></i>
          <%- end -%>
          <%= link_to shipment_path(shipment), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <i class="fa fa-trash-o fw"></i>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>




