<h3>Products</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Box Qty</th>
      <th>Case</th>
      <th>Weight</th>
      <th>Product Name</th>
      <th>Customer</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= "#{shipment.formatted_boxes}" %></td>
        <td><%= "#{BoxType.find(shipment.box_type_id).name}" %></td>
        <td><%= "#{shipment.formatted_weight} lb" %></td>
        <td><%= "#{shipment.product.name}" %></td>
        <td><%= "#{shipment.customer.business_name}" %></td>
        <td><%= "#{number_to_currency(shipment.price, unit: 'USD $' )}" %></td>
        <td><%= "#{number_to_currency(shipment.price * shipment.box_number, unit: 'USD $')}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>




