<%= form_for @sale, :url => greenhouse_sales_path(@greenhouse.id, @sale.id), :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :shipment_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :ship_number, :class => 'text_field form-control', :required => true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :season, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :season, :class => 'text_field form-control', :required => true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :delivery_place, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.collection_select :delivery_place_id, DeliveryPlace.all, :id, :name, class: "form-control", :required => true  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :warehouse_id, :class => 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.collection_select :warehouse_id, @warehouses, :id, :name_address,
               {prompt: "Selecciona bodega"}, class: "form-control", :required => true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :departure_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :departure_date, :class => 'text_field form-control', :required => true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :arrival_date, :class => 'control-label col-md-2', :required => true %>
    <div class="col-md-10">
      <%= f.date_select :arrival_date, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :observations, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :annotation, :class => 'text_field form-control' %>
    </div>
  </div>

  <div id="products" class="panel  panel-default">
    <div class="panel-heading">
      <h3>Products</h3>
    </div>
    <%= hidden_field_tag(:po_number_hidden) %>
    <%= hidden_field_tag(:customer_id_hidden) %>
    <div class="panel-body">
      <%= link_to_add_association 'Add Product', f, :shipments,
            render_options: { wrapper: 'inline' }, :class => "btn btn-primary btn-small margin-up pull-right" %>
      <%= f.fields_for :shipments do |shipment| %>
          <%= render 'shipment_fields', :f  => shipment %>
      <% end %>
    </div>
  </div>


    <!-- render :partial => 'preshipments_table' %>-->
  <!--<div class="form-group">
    < f.label :comment, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      < f.text_field :comment, :class => 'text_field form-control' %>
    </div>
  </div>-->

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%if @edit %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  greenhouse_sale_path(@greenhouse.id, @sale.id), :class => 'btn btn-default' %>
      <%else%>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  greenhouse_path(@greenhouse.id), :class => 'btn btn-default' %>
      <%end%>
                  <% if @sale.own?(current_user)%>
      <%= link_to t('.delete', :default => t("helpers.links.delete")),
                  greenhouse_sales_path, :class => 'btn btn-danger' %>
                  <% end %>
    </div>
  </div>
<% end %>
<script type="text/javascript">

  //This callback is triggered after clicking in add Product, and the controls
  //gets here before showing results on the screen.
  $("#products").on('cocoon:before-insert', function(e, inserted_item){
      //Selected by parent class and own class of input in which is
      // wanted to set the value when added.
      $(".nested-fields .po_num", inserted_item).val($('#po_number_hidden').val());

      $(".nested-fields .cust_id", inserted_item).val($('#customer_id_hidden').val());



  });

$('#sale_ship_number').on('change', function(){

          if($('#sale_ship_number').val() != ""){

            var params = {
              ship_number: $('#sale_ship_number').val(),
              greenhouse_id: '<%= @greenhouse.id %>'
            };

            $.ajax({
            url: '<%= greenhouses_sales_is_unique_path %>',
            type: 'GET',
            data: $.param(params),
            dataType: 'json',
            success: function (dataRes) {

              if(dataRes["is_unique"] == false){

                    var ship_number = $('#sale_ship_number').val();
                    $('#sale_ship_number').val(dataRes["next_ship_number"]);
                    $("#messages").html('<div class="alert alert-error fade in">  '+
                      dataRes["error_message"]+" "+ ship_number+'<button class="close" data-dismiss="alert"> x</button></div>');
                }

              }
          });

          }

});


</script>
