<div class="padding-up">
            <div class="form-group">
              <%= f.label :customer, :class => 'control-label col-md-2' %>
                <div class="col-md-10">
                  <%= f.collection_select :customer_id, Customer.all, :id, :business_name, prompt: "Selecciona cliente",:class => 'text_field form-control' %>
                </div>
            </div>
            <div class="form-group">
              <%= f.label :product, :class => 'control-label col-md-2' %>
              <div class="col-md-10">
                <%= f.collection_select :product_id, Product.where(greenhouse_id: 1), :id, :name, prompt: "Selecciona producto"%>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :quantity, :class => 'control-label col-md-2' %>
              <div class="col-md-10">
                <%= f.number_field :pallets_number, :class => 'text_field form-control' %>
              </div>
            </div>
             <div class="form-group">
              <%= f.label :weight_lb, :class => 'control-label col-md-2' %>
              <div class="col-md-10">
                <%= f.number_field :weight, :class => 'text_field form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :package_type_id, :class => 'control-label col-md-2' %>
              <div class="col-md-10">
                <%= f.collection_select :package_type_id,  PackageType.all, :id,:name, {prompt: "Selecciona uno"} ,:class => 'text_field form-control'%>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :box_type_id, :class => 'control-  col-md-2' %>
              <div class="col-md-10">
                <%= f.collection_select :box_type_id,  BoxType.all, :id,:name, {prompt: "Selecciona uno"} ,:class => 'text_field form-control'%>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :bag_type_id, :class => 'control-label col-md-2' %>
              <div class="col-md-10">
                <%= f.collection_select :bag_type_id,  BagType.all, :id,:name, {prompt: "Selecciona uno"} ,:class => 'text_field form-control'%>
              </div>
            </div>
               <div class="form-group">
              <%= f.label :plu, :class => 'control-label col-md-2' %>
              <div class="col-md-10">
                <%= f.check_box :plu, :class => 'text_field form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :pallet_type_id, :class => 'control-label col-md-2' %>
              <div class="col-md-10">
                <%= f.collection_select :pallet_type_id,  PalletType.all, :id,:name, {prompt: "Selecciona uno"} ,:class => 'text_field form-control'%>
              </div>
            </div>

</div>
