
<div class="nested-fields">
<div class="col-md-12 shipment-fields nested-fields padding-up">
  <%= "#{@counter}" %>
  <div class="well">
    <div class="row form-inline ">
      <div class="pull-right">
         <%= link_to_remove_association  f, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-remove fa-lg text-danger"></i>
         <% end %>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label "Purchase order number" %>
          </div>
          <div class="col-md-12">
            <%= f.text_field :po_number, :class => 'po_num text_field form-control', :required => true%>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :customer_id %>
          </div>
          <div class="col-md-12">
            <%= f.collection_select :customer_id, @customers, :id, :business_name,
                              {prompt: "Selecciona cliente"}, {:class => 'cust_id text_field form-control', :required => true} %>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :product_id %>
          </div>
          <div class="col-md-12">
            <%= f.collection_select :product_id, @products, :id, :name,
                              {prompt: "Producto"}, {:class => "prod text_field form-control" , :required => true} %>
          </div>
        </div>
      </div>

     <div class="col-md-3">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :product_color %>
          </div>
          <div class="col-md-12">
             <%= f.collection_select :product_color, @colors, :id, :name, {prompt: "Color"}, {:class => "text_field form-control" , :required => true} %>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :count_type_id, "Counting" %>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" title="Select product to get its count"></span>
          </div>
          <div class="col-md-12">
            <%= f.collection_select :count_type_id, @counts, :id, :name, {:prompt => "Conteo"}, {:class => "text_field form-control count", :required => true, :disabled => "disabled"}  %>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :box_ammount %>
          </div>
          <div class="col-md-12">
            <%= f.number_field :box_number, {:class => 'text_field form-control', :required => true}%>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :pallets_number %>
          </div>
          <div class="col-md-12">
            <%= f.number_field :pallets_number, {:class => 'text_field form-control', :required => true} %>
          </div>
        </div>
      </div>

      <div class="col-md-2">
         <div class="form-group">
          <div class="col-md-12">
            <%= f.label :weight %>
          </div>
          <div class="col-md-12">
            <%= f.number_field :weight, :class => 'text_field form-control' %>
          </div>
        </div>
      </div>

     <div class="col-md-2">
         <div class="form-group">
          <div class="col-md-12">
            <%= f.label :quality %>
          </div>
          <div class="col-md-12">
            <%= f.number_field :quality, :class => 'text_field form-control' %>
          </div>
        </div>
      </div>

      <div class="col-md-2">
         <div class="form-group">
          <div class="col-md-12">
            <%= f.label :price %>
          </div>
          <div class="col-md-12">
            <%= f.number_field :price, min: 0, max: 100000, step: :any, :class => 'text_field form-control' %>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
            <div class="col-md-12">
              <%= f.label :plu %>
            </div>
            <div class="col-md-12">
              <%= f.check_box :plu, :class => 'text_field form-control col-md-12' %>
            </div>

        </div>

      </div>

      <div class="col-md-3">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :package_type_id %>
          </div>
          <div class="col-md-12">
            <%= f.collection_select :package_type_id,  PackageType.all, :id,:name,
                                {prompt: "Selecciona uno"} ,{:class => 'text_field form-control', :required => true} %>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :box_type_id %>
          </div>
          <div class="col-md-12">
            <%= f.collection_select :box_type_id,  BoxType.all, :id,:name,
                                {prompt: "Selecciona uno"} ,{:class => 'text_field form-control', :required => true}%>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :bag_type_id %>
          </div>
          <div class="col-md-12">
            <%= f.collection_select :bag_type_id,  BagType.all, :id,:name,
                                {:prompt => "Selecciona uno"},{ :class => 'text_field form-control',  :required => true} %>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.label :pallet_type_id %>
          </div>
          <div class="col-md-12">
            <%= f.collection_select :pallet_type_id,  PalletType.all, :id,:name,
                                {prompt: "Selecciona uno" },{:class => 'text_field form-control',  :required => true} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">

  //Adds bootstrapSwitch to current partial
  $("[type='checkbox']").bootstrapSwitch();
  $(".shipment-fields select, .shipment-fields input[type='number']").css("width","100%");
  $('[data-toggle="tooltip"]').tooltip();

  $(".po_num").on('change', function(params) {
    //Getting id from the current object.
    var shipment_auto_rails_id = params.target.name.match(/\d+/);


      //No mattert what is the po_number you updated; it will take the value from input and
      //store it as the latest in the hidden field.
      //When a new shipment is inserted, the mechanism will take the value from
      //the hidden field and place it.
      $('#po_number_hidden').val($("#sale_shipments_attributes_"
        +shipment_auto_rails_id+"_po_number").val());


  });


    $(".cust_id").on('change', function(params) {
    //Getting id from the current object.
    var shipment_auto_rails_id = params.target.name.match(/\d+/);

      //No mattert what is the customer_id you choose in the View;
      //it will take the value from input and
      //store it as the latest in the hidden field.
      //When a new shipment is inserted, the mechanism will take the value from
      //the hidden field and place it.
      $('#customer_id_hidden').val($("#sale_shipments_attributes_"
        +shipment_auto_rails_id+"_customer_id").val());

  });



       $(".prod").on('focusout', function(params) {

          // El método .match(d+) regresa cualquier número entero en la palabra
          var shipment_auto_rails_id = params.target.name.match(/\d+/);
          //alert(product_rails_id);
          //alert(params.target.name);

          product_id_val = $(this).val();
          var product_select = $(this);

          var params = {
            product_id: product_id_val
          };
          $.ajax({
            url: '<%= get_product_count_types_path %>',
            type: 'GET',
            data: $.param(params),
            dataType: 'json',
            success: function (dataRes) {
              var types_select = $("select[name$='["+shipment_auto_rails_id+"][count_type_id]']");
              types_select.removeAttr('disabled');
              clearTarget(types_select);

              //Se recibe el arreglo de objetos, hay que acomodarlos en el select
            var types = $.parseJSON(dataRes);
            filter_count_types(types_select, types);

            }
          });


       });


          function clearTarget(count_types_select){
               count_types_select.children().remove().end()
               .append('<option selected value>N/A</option>');
          }


          function filter_count_types(count_types_select, types){
                $.each(types, function(key, value) {
              count_types_select
             .append($("<option></option>")
             .attr("value" , value[0])
             .text(value[1]));
              });
          }




</script>
