<h3>Changes</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>From State</th>
      <th>To State</th>
      <th>User</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @state_changes.each_with_index do |change, index| %>
      <tr>
        <td><%= states_index[change.from_state.to_s][:name] %></td>
        <td><%= states_index[change.from_state.to_s][:name] %></td>
        <td><%= change.user_changed.name %></td>
        <td><%= change.change_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @state_changes %>
