
<%- model_class = Sale -%>
<div class="page-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.titleize %>
    <%= "#{@greenhouse.business_name.capitalize}" %>
  </h1>
</div>

<%= render :partial => "greenhouses/submenu", :locals => {:id => @greenhouse.id } %>
<div class="well">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              greenhouse_path(@sale.greenhouse_id) , :class => "btn btn-warning"  %>
  <%=link_to 'Generar Orden de Compra.', purshase_order_path(@greenhouse.id, @sale.id), class: "btn btn-primary" %>
  <%=link_to 'Factura de cruce', customs_billing_path(@greenhouse.id, @sale.id), class: "btn btn-success" %>


  <% if @manifest %>
    <% @customers.each do |cust| %>
      <%= link_to "Facturar a "+ cust.business_name,
            new_greenhouse_sale_collections_bill_path(@greenhouse.id, @sale.id, :customer_id => cust.id), class: "btn btn-info" %>
    <% end %>
  <% end %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_greenhouse_sale_path(@sale.greenhouse_id, @sale.id), :class => 'btn btn-warning' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              greenhouse_sale_path(@sale.greenhouse_id, @sale.id),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger pull-right' %>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="fieldset">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                  <dt class="label label-default"><%= model_class.human_attribute_name(:shipment_number) %></dt>
                  <dd><pre class="prettyprint"><%= "#{@sale.ship_number}" %></pre></dd>
                </div>
                <div class="col-md-4 col-sm-12">
                  <dt class="label label-default"><%= model_class.human_attribute_name(:season) %></dt>
                  <dd><pre class="prettyprint"><%= "#{@sale.season}" %></pre></dd>
                </div>
                <div class="col-md-4 col-sm-12">
                  <dt class="label label-default"><%= model_class.human_attribute_name(:delivery_place) %></dt>
                  <dd><pre class="prettyprint"><%= "#{@delivery_place.name}" %></pre></dd>
                </div>
                <div class="col-md-4 col-sm-12">
                  <dt class="label label-default"><%= model_class.human_attribute_name(:departure_date) %></dt>
                  <dd><pre class="prettyprint"><%= "#{@sale.departure_date}" %></pre></dd>
                </div>
                <div class="col-md-4 col-sm-12">
                  <dt class="label label-default"><%= model_class.human_attribute_name(:arrival_date) %></dt>
                  <dd><pre class="prettyprint"><%= "#{@sale.arrival_date}" %></pre></dd>
                </div>
                <div class="col-md-12 col-sm-12">
                  <dt class="label label-default"><%= model_class.human_attribute_name(:observations) %></dt>
                  <dd><pre class="prettyprint"><%= "#{@sale.annotation}" %></pre></dd>
                </div>
            </div>

            <%= render :partial => 'confirmed_sales' %>
         </div>
        </div>
     </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render :partial => 'greenhouses/sales/sales_state_machine' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="activities_partial" class="col-md-12 col-sm-12 col-xs-12">

        <%= render :partial => 'state_changes' %>
      </div>
  </div>
 </div>







