<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>Box Qty</th>
      <th>Case</th>
      <th>Weight</th>
      <th>Product Name</th>
      <th>Customer</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% bill.own_shipments.each do |shipment| %>

      <%= f.fields_for :shipment_adjustments, shipment.adjusted? ? shipment.shipment_adjustment : ShipmentAdjustment.new  do  |sha| %>
        <%= sha.hidden_field :shipment_id, value: shipment.id %>
        <tr>
          <td><%= sha.number_field :box_number, shipment.adjusted? ? shipment.shipment_adjustment.box_number : :value => shipment.box_number, class: "form-control" %> </td>
          <td><%= "#{shipment.box_type.name}" %></td>
          <td><%= sha.number_field :weight, shipment.adjusted? ? shipment.shipment_adjustment.weight : :value => shipment.weight, class: "form-control" %> </td>
          <td><%= "#{shipment.product != nil ? shipment.product.name : 'Deleted Product' }" %></td>
          <td><%= "#{shipment.customer.business_name}" %></td>
          <td><%= sha.number_field :price, shipment.adjusted? ? shipment.shipment_adjustment.price : :value => shipment.price, class: "form-control" %> </td>
          <td><%= shipment.adjusted? ? "#{number_to_currency(shipment.shipment_adjustment.price * shipment.shipment_adjustment.box_number, unit: 'USD $')}" : "#{number_to_currency(shipment.price * shipment.box_number, unit: 'USD $')}" %></td>
        </tr>
      <% end %>
    <% end %>
          <tr>
        <td>
          <b><%= "#{formatted_number(@total_boxes)}" %></b>
        </td>
        <td>
          ---
        </td>
        <td>
                    ---
        </td>
        <td>
                    ---
        </td>
        <td>
                    ---
        </td>
        <td>
                    ---
        </td>
        <td>
          <b><%= "#{number_to_currency(@total_ammount_money, unit: 'USD $')}" %></b>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= f.submit "Submit", class: "btn btn-success" %></td>
      </tr>
  </tbody>
</table>



