<%= form_for(@collections_bill, :url => greenhouse_sale_collections_bills_path(@greenhouse.id, @sale.id)) do |f| %>
   <%= f.hidden_field(:user_id, :value => @collections_bill.user_id) %>
   <%= f.hidden_field(:customer_id, :value => @collections_bill.customer_id) %>
   <%= f.hidden_field(:sale_id, :value => @sale.id) %>

  <% if @collections_bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collections_bill.errors.count, "error") %> prohibited this collections_bill from being saved:</h2>

      <ul>
      <% @collections_bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <%= f.label :invoice_number, class: "control-label" %>
      <%= f.text_field :invoice_number, :required => true, class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= f.label :shipment_number, class: "control-label" %>
      <%= f.text_field :ship_number, :required => true, class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= f.label :po_number, class: "control-label" %>
      <%= f.text_field :po_number, :required => true, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :payment_terms, class: "control-label" %>
      <%= f.text_area :payment_terms, :required => true, class: "form-control" %>
    </div>
    <div class="col-md-6">
      <div class="row">
        <%= f.label :bol_date, class: "control-label" %>
      </div>
      <div class="row">
        <%= f.datetime_select :bol_date, :required => true, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12">
        <%= f.label :total_amt, class: "control-label" %>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :total_amt, :required => true, class: "form-control" %>
        </div>
        <div class="col-md-6">
          <%= @total_ammount_money_words %>
        </div>
      </div>
    </div>
  </div>
   <!-- hidden_field(:collections_bill, :customer_id) %>-->
  <div class="pull-right">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
